<h1><%= bloodBank.name %></h1>

<table>
  <thead>
    <tr>
      <th>Blood Group</th>
      <th>Quantity (pints)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A+</td>
      <td><%= bloodBank.bloodGroups.A_POS %></td>
    </tr>
    <tr>
      <td>A-</td>
      <td><%= bloodBank.bloodGroups.A_NEG %></td>
    </tr>
    <tr>
      <td>B+</td>
      <td><%= bloodBank.bloodGroups.B_POS %></td>
    </tr>
    <tr>
      <td>B-</td>
      <td><%= bloodBank.bloodGroups.B_NEG %></td>
    </tr>
    <tr>
      <td>O+</td>
      <td><%= bloodBank.bloodGroups.O_POS %></
